<a href="https://colab.research.google.com/github/Alphaomegainfinity/Project-4_Car_Price_Predictor/blob/main/car_price_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

In [86]:
# Import our input dataset
car_df = pd.read_csv('https://raw.githubusercontent.com/Alphaomegainfinity/Project-4_Car_Price_Predictor/main/Resources/Car%20details%20v3.csv')
car_df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [87]:
# Check shape of dataframe
car_df.shape

(8128, 13)

In [88]:
# Check info of dataframe
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [89]:
# Drop unwanted columns 
car_df.drop(['name', 'torque', 'max_power'], axis=1, inplace=True)

In [61]:
car_df

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,5.0
...,...,...,...,...,...,...,...,...,...,...
8123,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,5.0
8124,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,5.0
8125,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,5.0
8126,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,5.0
8127,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,5.0

In [90]:
car_df['engine'] = car_df['engine'].str.rsplit(' ', n=1).str.get(0)
car_df['mileage'] = car_df['mileage'].str.rsplit(' ', n=1).str.get(0)

In [63]:
car_df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,5.0

In [91]:
car_df.rename(columns={'engine':'engine(CC)', 'mileage':'mileage(kmpl)'}, inplace=True)

In [92]:
car_df['engine(CC)'] = car_df['engine(CC)'].astype(float)

In [93]:
car_df.loc[car_df['engine(CC)'] <= 1000 ,'engine(CC)'] = 1
car_df.loc[car_df['engine(CC)'] >= 1001 & car_df['engine(CC)'] <=2000 ,'engine(CC)'] = 2

TypeError: ignored

In [ ]:
#car_df=pd.DataFrame(car_df,columns=['engine(CC)'])

if car_df['engine(CC)']<=50:
    car_df['engine(CC)']=1

if car_df['engine(CC)']>50 & <=100: 
    car_df['engine(CC)']=2

if car_df['horsepower']>100 & <=200:
    car_df['horsepower_score']=2

if car_df['horsepower']>200 & <=250:
    car_df['horsepower_score']=4

if car_df['horsepower']>250 & <=300:
    car_df['horsepower_score']=5

In [73]:
car_df.head(100)

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(kmpl),engine(CC),seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248.0,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497.0,5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396.0,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298.0,5.0
...,...,...,...,...,...,...,...,...,...,...
95,2013,525000,61500,Petrol,Dealer,Manual,First Owner,18.5,1197.0,5.0
96,2016,600000,150000,Diesel,Individual,Manual,First Owner,26.59,1248.0,5.0
97,2016,565000,72000,Petrol,Dealer,Automatic,First Owner,19.1,1197.0,5.0
98,2008,120000,68000,Petrol,Dealer,Manual,Third Owner,19.7,1.0,5.0
99,2017,725000,110000,Diesel,Individual,Manual,First Owner,22.54,1396.0,5.0

In [54]:
car_df = pd.get_dummies(car_df)
car_df.head()

,year,selling_price,km_driven,seats,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,seller_type_Dealer,seller_type_Individual,...,engine(CC)_793,engine(CC)_796,engine(CC)_799,engine(CC)_814,engine(CC)_909,engine(CC)_936,engine(CC)_993,engine(CC)_995,engine(CC)_998,engine(CC)_999
0,2014,450000,145500,5.0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2014,370000,120000,5.0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2006,158000,140000,5.0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2010,225000,127000,5.0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2007,130000,120000,5.0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [35]:
car_df.shape

(8128, 532)